@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --blue1: #324E73;
    --blue2: #BFCFD9;
    --orange1: #F28705;
    --orange2: #F2C84B;
    --lightBlue1: #C0D6D9;
    --lightBlue2: #DEEFF4;
    --grey: #b3b3b0;
}

body {
    height: 100vh;
}

.card {
    width: 100%;
    height: 100vh;
    display: block;
    overflow-y: hidden;
}

.card-body {
    padding: 0;
}

.current {
    height: 100%;
    display: block;
}

.current .weather-temp {
    font-size: clamp(1rem, 1rem + 18vw, 7rem);
}

td {
    text-align: center;
    width: 20%;
    font-size: 0.9rem;
    cursor: default;
}

.weather-icon {
    position: absolute;
    z-index: 999;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.weather-icon>video {
    height: 100vh;
    object-fit: cover;
    margin: 0;
}

.card-body {
    opacity: 100%;
    height: 100vh;
    width: 100%;
    float: left;
}

.forecast>div>video {
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.weather-temp {
    font-size: 2rem;
    font-weight: 900;
}

.graden-celsius {
    font-size: 3.75rem;
}

.dayName {
    margin-left: 6.75rem;
}

.forecast {
    position: relative;
    width: 100vw;
    float: left;
    display: flex;
    flex-direction: row;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 0.1rem;
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.quote {
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
}


/*DOTS*/

.dotsContainer {
    position:absolute;
    width: 30%;
    margin: 0 auto;
    display: flex;
    top:95vh;
    left:37%;
    justify-content: space-evenly;
    z-index:100;
}

.dot {
    background: var(--grey);
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    display:none;
}


/*colors changing*/

.blue {
    background: linear-gradient(0deg, var(--blue1) 0%, var(--blue2) 100%);
    color:white;
}

.lightBlue {
    background: linear-gradient(0deg, var(--lightBlue1) 0%, var(--lightBlue2) 100%);
}

.orange {
    background: linear-gradient(0deg, var(--orange1) 0%, var(--orange2) 100%);
    color:white;
}